@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
      height: 100%;
      width: 100%;
}
body {
    margin: 0; 
    height: 500px; 
    background-image: url('./main.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: hidden; 
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
nav img{
    position: relative;
    padding-top: 30px;
    padding-right: 480px;
}

#navlinks ul {
    display: flex; 
    padding: 0;
    margin: 0;
    list-style: none;
}

#navlinks ul li {
    margin-top: 45px;
    margin-right: 40px;
}

#navlinks ul li a {
    font-size: larger;
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 0.3s ease, transform 0.3s ease; 
    display: inline-block; 
}

#navlinks ul li a:hover {
    color: aqua;
    transform: scale(1.1); 
}
#navlinks ul li button{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-left: 35px;
    margin-top: -15px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 13px;
    padding-bottom: 13px; 
    border: 3px solid white;
    border-radius: 5px;
    background-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease; 
    display: inline-block; 
}
#navlinks ul li button:hover{
  color: #000;
  background-color: #fff;
  /* color: aqua; */
    transform: scale(1.1); 
}

#section1 h3{
    font-size: 3vw;
    position: relative;
    margin-left: 650px;
    margin-top: 200px;
    padding-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #fff;
}

#section1 #word{
   font-size: 6vw;
   text-align-last: center;
   position: absolute;
   margin-right: 40px;
   margin-bottom: 75px;
}
#section1 p{
    position: absolute;
    margin-left: 680px;
    margin-top: 170px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align-last: center;
}
#section1 button{

    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-left: 780px;
    margin-top: 230px;
    padding: 10px 13px;
    background-color: yellow;
    color: #000;
    transition: color 0.3s ease, transform 0.3s ease; 
    display: inline-block; 
    border-radius: 10px;
    font-weight: 100;
}
#section1 button:hover{
    color: #000;
    transform: scale(1.1); 
}
